<div class="container mt-3">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Enter name" name="email">
           <!-- [(ngModel)]="userName"> -->
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Enter password" name="pswd" >
          <!-- [(ngModel)]="userPass"> -->
        </div>
      </div>
  
    </form>
  
    <form >
      <div class="row">
        <div class="col">
          <button (click)="checkUser()" class="btn btn-secondary form-control ">התחברות</button>
        </div>
      </div>
    </form>
  </div>
