<table class="table table-success ">    <thead>
        <tr>
            @for(x of allStudentsKeys; track $index){
                   <th>{{x}}</th>
            } 
        </tr>
    </thead>
    <tbody>
        @for(stud of allStudents;track $index){
            <tr>
                <td>{{stud.name}}</td>
                <td>{{stud.id}}</td>
                <td><img src="localhost:1111/student/getAllStudents//dilfin.JPG">  </td>
                <td>@for (m of getMarks(stud.marks);track $index){
                    <div>{{m[0]}}:{{m[1]}}</div>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
