<!-- <div container="5"><div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" name="text" placeholder="enter user name" [(ngModel)]="uName">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="uPass">
  </div>

  <button (click)="checkUser()" class="btn btn-default">ok</button>
</div> -->

<div class="container mt-3">
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter name" name="email" [(ngModel)]="uName">
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="Enter password" name="pswd" [(ngModel)]="uPass">
      </div>
    </div>

  </form>

  <form >
    <div class="row">
      <div class="col">
        <button (click)="checkUser()" class="btn btn-secondary form-control ">o</button>
      </div>
    </div>
  </form>
</div>